body.rhythm .dev {
    position: relative;

    overflow: hidden;
}

body.rhythm_h .dev::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(255, 0, 0, 0.3), transparent 1px) 0 0 / 100% var(--indent);

    pointer-events: none;
}


body.rhythm_v .dev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100%;
    height: 100%;

    background: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1) var(--indent_x05), transparent var(--indent_x05), transparent calc(var(--indent_x25) + var(--indent)));

    pointer-events: none;
}
