.accordion {
    margin: 0 0 calc(var(--indent) - 1px);

    border-bottom: 1px solid var(--grey_light);
}

.accordion > :last-child {
    margin-bottom: var(--indent);
}

.accordion__title {
    margin: 0;

    border-top: 1px solid var(--grey_light);
}

.accordion__title:first-of-type {
    border-top-color: transparent;
}

.accordion__btn {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: calc(var(--indent_x05) - 1px); /* accordion__titile*/
    padding-right: var(--indent_x15); /* ::after */
    padding-bottom: var(--indent_x05);
    padding-left: 0;

    font-weight: bold;
    font-size: var(--font-size);
    line-height: inherit;
    text-align: left;
    color: inherit;

    background-color: transparent;
    background-image: none;
    border: 0;
    outline-color: #ffffff; /* для плавного появления при tab */
    cursor: pointer;
}

.accordion__text > :last-child {
    margin-bottom: 0;
}
