.fl-r {
    float: right;
}

img.fl-r {
    margin-left: var(--indent);
}

.fl-l {
    float: left;
}

img.fl-l {
    margin-right: var(--indent);
}

.fl-n {
    float: none;
}

img.fl-n {
    margin-bottom: var(--indent);
}

/* для блока в котором есть float чтобы избежать выпадения из потока */
.clearfix::after {
    content: "";

    display: block;
    clear: both;
}
