.tabs {
    margin-bottom: calc(var(--indent) - 1px);

    border-bottom: 1px solid var(--grey_light);
}

.tabs__list::before {
    content: attr(aria-label);

    display: block;
    padding-top: var(--indent);
    padding-bottom: var(--indent);

    font-weight: bold;
    font-size: var(--font-size_XL);
}

.tabs__list > * {
    display: none;
}

.tabs__panel {
    display: block;

    border-bottom-color: transparent;
}


.tabs__panel::before {
    content: attr(data-title);

    display: block;
    margin-bottom: var(--indent);

    font-weight: bold;
}
