blockquote,
q {
    display: block;
    margin: 0 0 var(--indent);
    padding: 0 0 0 calc(var(--indent) - 4px);

    font-size: inherit;
    font-family: Georgia, serif;

    border-left: 4px solid var(--grey);

    quotes: none;
}

blockquote > :last-child {
    margin-bottom: 0;
}

cite {
    font-size: var(--font-size_XS);
    vertical-align: top; /* vertical rhythm */
    font-family: Georgia, serif;
}

@media (min-width: 860px) {
    blockquote {
        padding-left: calc(var(--indent_x2) - 4px);
    }
}
