/* https://webdesign.tutsplus.com/tutorials/how-to-lazy-load-embedded-youtube-videos--cms-26743  */

.youtube {
    position: relative;

    padding-top: 56.25%;
    overflow: hidden;

    background-color: var(--black);
}

.youtube__btn {
    display: none;
}
