.attention {
    display: none;
    margin: 0;
    padding: var(--indent);

    color: white;

    background-color: var(--green);
}

.attention li::before {
    display: none;
}

.attention li {
    list-style: inside;
}


.attention li + li {
    padding-top: var(--indent_x05);
}
